a {
  color: #466995;
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  color: #466995;
}

a:hover {
  text-decoration: none;
}

/*Skeumorphic*/
a:active, .answer:active {
  /*color: #DBE9EE;*/
  margin-top: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 0px;
  background-color: #C0D6DF;
  color: #ffffff;
}

.question-link:visited {
  color: #ffffff;
}

.question-link:active {
  color: #DBE9EE;
}

/*Skeumorphic*/
.answer {
  border: 1px solid #466995;
  border-radius: 10px;
  box-shadow: 0px 4px;
}
/*Flat Design
.answer {
  border: 1px solid #466995;
}

.answer:hover {
  background-color: #C0D6DF;

.answer:active {
  color: #ffffff;
} */