.breadcrumb {
    padding: 10px 0px 10px 30px;
}
.breadcrumb > li {
  display: inline;
}
.breadcrumb li.location+li.location::before {
  padding: 10px;
  content: ">";
  color: gray;

}
.breadcrumb li.location {
  font-weight: bold;
}

.attribute {
    padding: 0px 0px 0px 20px;
    color: blue;
    opacity: .6;
}