body {
    background-color: #22a6b3;
    }

h1 {
    text-align: center;
    font-family: Raleway, sans-serif;
    color: aliceblue;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-family: Raleway, sans-serif;
    color: #7ed6df;
}

h3 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: aliceblue;
}

.italic {
    font-style: italic;
}

table {
    border: 4px solid aliceblue;
    color: aliceblue;
}

th {
    text-align: center;
    font-family: Raleway, sans-serif;
}

td {
    font-family: 'Playfair Display';
    background-color; #7ed6df;
}

th, td {
  border: 2px solid #7ed6df;
}

.bold {
    font-weight: bold;
    font-family: Raleway, sans-serif;
}