header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: Helvetica;
    font-size: 20px;
}

p {
  font-family: Helvetica;
    font-size: 16px;
}

i {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: blue;

}

.frames-heading {
    display: block;
    background-color: lightcoral;
}

.paint-heading {
    display: block;
    background-color: skyblue;
}

.content {
   font-family: Helvetica;
    font-size: 20px;
}


.container {
    max-width: 940;
    margin: 0 auto;
    paddingL 0 10px;
    text-align: center;
    display: block;
}

.jumbotron {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.brush-heading {
    display: block;
    background-color: mediumspringgreen;
}


