.breadcrumb > li {
  display: inline;
  /*float: left;
  padding: 30px;
  margin: 10px;*/
}
.breadcrumb li.location+li.location::before {
	padding: 10px;
  content: ">";
  color: gray;

}
.breadcrumb li.location {
  font-weight: bold;
}
.attribute a::after {
  float: left;
  /*padding: 30px;*/
  margin: 10px;
  /*content: "";*/
  color: blue;

}