body {

}

header {

}

h1 {
    font-family: "Nunito Sans", sans-serif;
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin: 21.44px;
    text-align: center;
}

h2 {
   display: block;
   font-family: "Nunito Sans", sans-serif;
   font-size: 24px;
   font-weight: 700;
   margin: 19.92px;
   text-align: left;
   text-transform: uppercase;
}

.container {
    display: block;
    height: 450px;
    border: 2px solid gray;
    font-family: "Nunito Sans", sans-serif;
    margin: 10px 0px;
    padding: 10px;
}

.color-container

.swatch {
    margin: 20px, 0px;
    display: inline-block;
    height: 220px;
    width: 220px;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
}

.color-name
.color-hex
.color-rgb
.color-hsl
.description

/* Swatch color isn't showing a color, and two through 4 don't have their bullet points
.swatch.color-one {
    background-color: rgb(45,93,204);
    color: rgb(255, 255, 255);
}

.swatch.color-two {
    background-color: #d957d9;
    color: rgb(255, 255, 255);
}

.swatch.color-three {
    background-color: #4fe0b0;
    color: rgb(255, 255, 255);
}

.swatch.color-four {
    background-color: #efd9ca;
    color: rgb(255, 255, 255);
}
*/

.font-container