body {

}

header {

}

h1 {
    font-family: "Nunito Sans", sans-serif;
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin: 21.44px;
    text-align: center;
}
h2 {
   display: block;
   font-family: "Nunito Sans", sans-serif;
   font-size: 24px;
   font-weight: 700;
   margin: 19.92px;
   text-align: left;
   text-transform: uppercase;
}
.container {
    display: block;
    overflow: scroll;
    width: 100%;
    border: 2px solid gray;
    font-family: "Nunito Sans", sans-serif;
    margin: 10px 0px;
    padding: 10px;
}
.color-mini {
    display: inline-block;
    justify-content: center;
    padding-left: 40px;
}
.swatch {
    display: block;
    height: 220px;
    width: 220px;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    margin-left: 22px;
}
.description {
    display: block;
    list-style: none;
    padding-left: 0px;
}
.swatch.color-one {
    background-color: #4BCFFA;
    color: rgb(255, 255, 255);
}
.swatch.color-two {
    background-color: #d957d9;
    color: rgb(255, 255, 255);
}
.swatch.color-three {
    background-color: #4fe0b0;
    color: rgb(255, 255, 255);
}
.swatch.color-four {
    background-color: #efd9ca;
    color: rgb(255, 255, 255);
}

.color-container
.color-name
.color-hex
.color-rgb
.color-hsl


.font-ex,
.font-example,
.font-alphabet,
.font-reg,
.font-ital,

.font-mini {
    display: inline-block;
    padding-left: 10px;

.font-cont {
    display: block;
    width: 320px;
    text-align: left;
    margin-left: 10px;
}
.font-name {
    font-family: ;
    display: block;
    font-size: 20px;
    text-decoration: underline;
    margin: 10px;
}
.font-reg {
    font-family: ;
    display: block;
    text-decoration: none;
    font-style: normal;
    margin: 8px 0px;
}
.font-ital {
    display: block;
    font-family: ;
    font-style: italic;
    text-decoration: none;
    margin: 8px 0px;
}

.font-bold {
    font-family: ;
    display: block;
    width: 310px;
    font-weight: 700;
    margin: 8px 0px;
}

.font-alphabet {
    display: block;
    font-family: ;
    text-decoration: none;
    font-style: normal;
    margin: 8px 0px;
}

.f-description {
    display: block;
    list-style: none;
    padding-left: 0px;
    margin-left: 19.92px;
}

.font-one {
    font-family: ;
}
.font-two {
    font-family: ;
}
.font-three {
    font-family: ;
}
.font-four {
    font-family: ;
}

.t-one
