/*Must be inline*/
.breadcrumb > li {
    display: inline;
}

/* ***The + is called the adjacent sibling combinator;
it will only select two li‘s when they are immediately next to each other,
with the same parent. The element that actually gets selected is the second
element of this sibling pair.
The ::before part of this selector creates a pseudo-element.
The ::before pseudo-element is often used with the content property,
to add content that will be displayed just before the selected element.*/
.breadcrumb li+li::before {
	padding: 10px;
    content: ">";
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a:hover {
    color: red;
}

/*ALTERNATE ARROW BREADCRUMB
.breadcrumb li a::before, .breadcrumb li a::after {
	content: "";
	position: absolute;
	border-color: darkcyan;
	border-style: solid;
	border-width: 15px 5px;
}

.breadcrumb li a::before {
    left: -10px;
    border-left-color: transparent;
}

.breadcrumb li a::after {
    left: -10px;
    border-left-color: darkcyan;
}
.breadcrumb a:hover {
  background-color: blue;
}
.breadcrumb a:hover::before {
  border-color: blue;
  border-left-color: transparent;
}
.breadcrumb a:hover::after {
  border-left-color: blue;
}
*/