body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: rgba(255, 241, 231, 0.9);
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
h2 {
    width: 100%;
    color: rgba(255, 241, 231, 0.9);
    text-align: center;
}
h4 {
    width: 100%;
    margin: 0px 15px 15px 15px;
    text-align: center;
}
nav {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: rgba(255, 241, 231, 0.9);
}
.nav-container {
    display: flex;
    height: 67px;
    width: 100%;
    align-items: center;
    background-color: black;
}
.navbar-brand {
    height: 45px;
    text-align: left;
    display: inline-block;
    opacity: 0.9*/
}
.navbar-brand img {
    height: 45px;
    width: auto;
    opacity: 0.9;
    text-align: center;
}
.prime-nav {
    display: flex;
    color: seashell;
    opacity: 0.9;
    padding: 10px;
    list-style-type: none;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}
.prime-nav:hover {
    opacity: 0.5;
}
.header-container {
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    padding-top: 100px;
}
.mission {
    width: 100%;
    height: auto;
    text-align: center;
    color: rgba(255, 241, 231, 0.9);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.month {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tea-of-the-month {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 15 0px;
    gap: 20px;
}
.container {
    display: inline-flex;
    width: 1000px;
    align-items: center;
    background-color: black;
    justify-content: center;
}
.subtitle {
    margin: 15px;
}
.month-pic {
    height: 200px;
    width: 300px;
}
.locations-container {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    margin: 0 10;
}
.center {
    display: flex;
    width: 100%;
    justify-content: center;
}
.loc-mini {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.bl-bg {
    background-color: black;
    color: rgba(255, 241, 231, 0.9);
    height: 300px;
    width: 300px;
    line-height: 250%;
}
h5 {
    font-style: normal;
    font-size: 15px;
    color: rgba(255, 241, 231, 0.9);
    text-align: center;
}
.copyright {
    font-size: 12px;
    text-align: left;
    color: rgba(255, 241, 231, 0.9);
    padding-left: 10px;
}
