body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: rgba (255 241 231 0.9);
}
.nav-container {
    display: flex;
    height: 67px;
    width: 100%;
    align-items: center;
    background-color: black;
}
.container {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    background-color: black;
}
.navbar-brand {
    height: 45px;
    text-align: left;*/
    display: inline-block;
    opacity: 0.9*/
}
.navbar-brand img {
    height: 45px;
    width: auto;
    opacity: 0.9
    text-align: center;
}
.prime-nav {
    display: flex;
    color: seashell;
    opacity: 0.9;
    padding: 10px;
    list-style-type: none;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}
/*.flex-shrink-0 {
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
    text-size-adjust: 100%;
}*/
header {
    flex: 2 1 1200px;
    padding-top: 100px;
    align-content: center;
    justify-content: space-around;
}
bg {
    flex:
}
.subtitle {
}
.mission {
    text-align: center;
}